<%= form_with(model: category) do |form| %>
  <% @category.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "rounded mb-2" %>
  </div>

  <div class="mt-4">
    <%= form.submit "Update", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
