<div id="<%= dom_id(product) %>" class="bg-white my-4 rounded w-80">
  <%= image_tag product.photo.attached? ? product.photo : 'placeholder.png', class: "w-full h-60 object-cover" %>
  <div class="m-2">
    <span class="price font-bold text-xl"><%= product.price %>$</span>
    <h2 class="title"><%= product.title %></h2>
    <p class="description text-gray-500 text-sm mt-2"><%= product.description %></p>
  </div>
</div>