<div class="flex flex-col items-center mt-4">
  <%= render partial: 'products/product_details', locals: { product: @product } %>
  
  <div>
    <%= link_to t('.edit'), edit_product_path(@product), class: "text-yellow-500 hover:text-yellow-700 mr-4" if @product.owner? %>
    <%= link_to t('.delete'), product_path(@product), data: { turbo_method: :delete,
    turbo_confirm: t('common.confirm') }, class: "text-red-500 hover:text-red-700 ml-4"  if @product.owner? %>
  </div>

  <%= link_to t('.view_more_products', username: @product.user.username), user_path(@product.user.username), class: "font-bold text-teal-500 my-4" %>

  <%= render partial: 'favorite', locals: { product: @product } %>

  <%= turbo_stream_from @product %>
</div>
  